doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title H5 Audio Controls Test
    base(href="./")

    style.
      * {
        margin: 0;
        padding: 0;
      }

      body {
        background-color: #0a4f56;
      }

      .stop-button {
        display: inline-block;
        margin: 100px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
      }

  body
    a(href="javascript:;", class="stop-button") stop

    each _js in htmlWebpackPlugin.files.js
      script(src=_js)

    script.
      var
        audioSrc = 'https://cycjimmy.github.io/staticFiles/media/Richard_Clayderman-LOVE_IS_BLUE.mp3'
      ;

      var
        h5AudioControls = new H5AudioControls(audioSrc)
        , eStop = document.querySelector('.stop-button')
      ;

      console.log(h5AudioControls);
      h5AudioControls.load();

      eStop.addEventListener('click', function () {
        h5AudioControls.stop();
      });
