.musicControlWrapper {
  position: absolute;
  z-index: 999;
  max-width: 15vw;
  max-height: 15vw;
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &:global(.left-top) {
    left: 0;
    top: 0;
  }

  &:global(.top-right) {
    top: 0;
    right: 0;
  }

  &:global(.right-bottom) {
    right: 0;
    bottom: 0;
  }

  &:global(.left-bottom) {
    left: 0;
    bottom: 0;
  }
}

@keyframes reverseRotataZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.musicControl {
  display: block;
  width: 60%;
  height: 60%;

  &.play {
    background: url(./audioPlay.svg) no-repeat;
    background-size: 100% 100%;

    animation: reverseRotataZ 2s linear infinite;
  }

  &.pause {
    background: url(./audioPause.svg) no-repeat;
    background-size: 100% 100%;
  }
}
